*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c3e50;
    color: white;
    padding: 20px 150px;
    position: fixed;
        text-transform: uppercase;

    flex-grow: 0;
    width: 100%;
    ul{
        display: flex;
        list-style: none;
        gap: 30px;
    }
    ul li{
        transition: 0.6s;
        cursor: pointer;
    }
    ul li:hover{
        color: #1abc9c;
    }
}
header{
    width: 100%;
    padding: 100px 0px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: #1ABC9C;
    .headerbox{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        h1{
            font-size: 50px;
        }
    }
    .headerbox img{
        width: 25%;
    }
    .headerbox p{
        font-size: 24px;
    }
}
.Portfolio{
width: 100%;
padding: 20px 0px;
font-family: Arial, Helvetica, sans-serif;
color: #2c3e50;
text-align: center;
height: 900px;
.text{
    font-size: 28px;
}
.items{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
width: 80%;
margin: auto;
height: 700px;
padding: 30px 0px;
.item{
    width: 33%;
    height: 70px ;
    border-radius: 0.2cm;
img{
    width: 90% ;
    border-radius: 0.2cm;
}
}
}
}
.About{
    width: 100%;
    height: 400px;
    background-color: #1ABC9C;
    text-align: center;
    color: white;
    padding: 30px 0px;
    .text{
        font-size: 35px;
    }
    .main{
        width: 50%;
        margin: auto;
        justify-content: space-around;
        display: flex;
     text-align: justify;   
    }
    .left{
        width: 45%;
        height: 100%;

    }
    .right{
        width: 45%;
        height: 100%;
    }
    .link button{
        margin-top: 30px;
        padding: 20px 60px;
        border-radius: 0.2cm;
        border: 2px solid white;
        transition: 0.6s;
        background-color: transparent;
        color: white;
        font-size: 20px;
    }
    .link button:hover{
        background-color: white;
        color: black;
    }

}
.Contact{
    width: 100%;
    height: 600px;
    text-align: center;
.form{
    width: 60%;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-around;
flex-direction: column;
input{
    display: inline-block;
    border: none;
    padding: 15px;
    font-size: 20px;
    outline: none;
border-bottom: 1px solid rgb(165, 165, 165);
}

}
.link1{
    width: 100px ;
    margin-left: 300px;
}
.link1 button{
    padding: 18px 35px;
    background-color: #1abc9c;
    border-radius: 0.2cm;
color: white;
    border: none;

}
}
